{% extends "base.html" %}
{% load static %}


<!doctype html>
<html lang="en">
  <head>


    {% block content %}
    <title>CONFIRM</title>
    {% endblock content %}

  </head>


  <body>

    {% block confirm1 %}



    <div class="container my-5" style="padding-bottom: 21%;">

   
          
    <div class="container my-5" style="width: 100%; text-align: center; margin-top:0%">
      
    <h2><p> Thanks </p> </h2>
     <h3>   <p>Reservation was successful </p></h3>

    </div>
     </div>




    {% endblock confirm1 %}
  </body>
</html>




